/* Code created by Mahesh Technicals*/

a.ast-button {
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);
}


.site-below-footer-wrap.ast-builder-grid-row-container.site-footer-focus-item.ast-builder-grid-row-full.ast-builder-grid-row-tablet-full.ast-builder-grid-row-mobile-full.ast-footer-row-stack.ast-footer-row-tablet-stack.ast-footer-row-mobile-stack {
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);

}

.entry-content h2,
h3,
h4,
h5,
h6 {
  color: white !important;
  text-align: center;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);

}

.ast-footer-copyright {
  color: white !important;
}

#secondary .wp-block-search__button,
#submit {
  color: white !important;
  border-radius: 10px;
  border: none;
  padding: 10px 20px !important;
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);
}


.widget_block h2 {
  color: white !important;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);
}

.post-thumb-img-content img {
  border-radius: 10px;
  box-shadow: rgba(23, 43, 99, 0.2) 0 7px 28px !important;
}


#secondary .wp-block-search__input {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 5px 20px !important;
  color: white !important;
  background: black !important;
}

.blog .entry-title,
.blog .entry-title a,
.archive .entry-title,
.archive .entry-title a,
.search .entry-title,
.search .entry-title a {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: bold;
}








.ast-search-icon .ast-icon {
  z-index: 4;
  padding: 5px 10px;
  color: white !important;
}


.site-title,
.site-title a {
  font-size: 25px;
  color: white !important;
}


.ast-primary-header-bar.ast-primary-header.main-header-bar.site-primary-header-wrap.site-header-focus-item.ast-builder-grid-row-layout-default.ast-builder-grid-row-tablet-layout-default.ast-builder-grid-row-mobile-layout-default {
  color: white !important;
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);
}

.ast-mobile-header-wrap .ast-primary-header-bar,
.ast-primary-header-bar .site-primary-header-wrap {
  min-height: auto;
  padding: 10px;
  color: white;
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);
}



[data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg {
  width: 20px;
  height: 20px;
  fill: #fafafa !important;
}


.ast-header-break-point .main-navigation .stack-on-mobile li {
  color: white !important;
  color: white !important;
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);
}


.site-header .menu-text {
  color: white;
}


#rpwwt-recent-posts-widget-with-thumbnails-4 img {
  border-radius: 10px;
}


#comments .submit,
.search .search-submit {
  border-radius: 10px;
}


.ast-pagination .page-numbers.current,
.ast-pagination .page-numbers:focus,
.ast-pagination .page-numbers:hover {
  color: #ffffff;
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%) !important;
}


.ast-pagination-circle .ast-pagination .next.page-numbers,
.ast-pagination-circle .ast-pagination .prev.page-numbers {
  border-radius: 30px;
  color: white;
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);
}


.ast-desktop .ast-mega-menu-enabled .ast-builder-menu-1 div:not(.astra-full-megamenu-wrapper) .sub-menu,
.ast-builder-menu-1 .inline-on-mobile .sub-menu,
.ast-desktop .ast-builder-menu-1 .astra-full-megamenu-wrapper,
.ast-desktop .ast-builder-menu-1 .menu-item .sub-menu {
  color: white;
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);
}


.ast-related-posts-title {
  color: white !important;
  padding: 10px;
  border-radius: 10px;
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);

}


.ast-related-post-content .entry-header .ast-related-post-title,
.ast-related-post-content .entry-header .ast-related-post-title a {
  color: white !important;
}


input.wpcf7-form-control.has-spinner.wpcf7-submit {
  padding: 10px 20px;
  border-radius: 10px;
  background-image: radial-gradient(circle at 100% 0%, #a863ff 0, #7c53f7 25%, #4d42d4 50%, #0931b1 75%, #002291 100%);
}


@media (max-width: 544px) {

  .ast-single-post .entry-title,
  .page-title {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

/* Credits : https://maheshtechnicals.com */