/* Code created by Mahesh Technicals*/
:root {
  --main: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}

/* Header Background Color*/
.main-navigation,
.main-navigation ul ul {
  background-image: var(--main);
}




/*All 123456 Heading Colors*/
.entry-content h2,
h3,
h4,
h5,
h6 {
  color: white !important;
  text-align: center;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  background-image: var(--main);

}

/* Read More Button.*/

.read-more.button {
  background-image: var(--main);
  color: white;
  border-radius: 10px;
  box-shadow: rgba(23, 43, 99, 0.2) 0 7px 28px !important;

}


/* Footer color */
.site-info {
  background-image: var(--main);
}



.widget_block h2 {
  color: white !important;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background-image: var(--main);
}


/* Post img style */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  border-radius: 10px;
  box-shadow: rgba(23, 43, 99, 0.2) 0 7px 28px !important;
}

.resize-featured-image .post-image img {
  border-radius: 10px;
  box-shadow: rgba(23, 43, 99, 0.2) 0 7px 28px !important;
}


.blog .entry-title,
.blog .entry-title a,
.archive .entry-title,
.archive .entry-title a,
.search .entry-title,
.search .entry-title a {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: bold;
}



.entry-title {
  margin-top: 30px;
  color: #7c53f7 !important;
  font-weight: bold;
}

.site-title,
.site-title a {
  font-size: 25px;
  color: white !important;
}



/* Recent post with thumbnail */
#rpwwt-recent-posts-widget-with-thumbnails-4 img {
  border-radius: 10px;
}

#comments .submit,
.search .search-submit {
  border-radius: 10px;
}

input.wpcf7-form-control.has-spinner.wpcf7-submit {
  padding: 10px 20px;
  border-radius: 10px;
  background-image: var(--main);
}

#url {
  display: none !important;
}

.entry-content ul li:before {
  font-family: FontAwesome;
  content: "\f140";
  margin-left: -1.5em;
  padding-right: 1em;
  color: #4E42D4;
}


.widget_categories ul li::before {
  font-family: FontAwesome;
  content: "\f039";
  padding-right: 1em;
  color: #4E42D4;
  font-size: 18px;
}

.entry-content p {
  font-size: 18px;
}

.entry-content img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.su-table table th {
  color: white !important;
  background: black !important;
}



.entry-meta,
.entry-meta * {
  font-weight: bold;
  text-align: center;
  color: #990073 !important;
}



/* submit comment Button Style*/

#comments .submit,
.search .search-submit {
  background: var(--main);
  color: white;
}


.nav-links {
  background: var(--main);
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.nav-links a {
  color: white;
}

.nav-links,
nav-links a:hover {
  color: white;
}


.widget-area .widget {
  padding: 10px;
}




@media (max-width: 544px) {

  .entry-title,
  .page-title {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
  }

  .site-title,
  .site-title a {
    font-size: 20px;
  }

  .widget_block h2 {
    font-size: 20px;
  }


}

/* Credits : https://maheshtechnicals.com */