#social-logo {
  width: 100px;
  border-radius: 50%;
  border: 2px solid red;
  padding: 10px;
}


#social-links-mt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#social-links-mt a {
  text-decoration: none;
  padding: 10px 20px;
  text-align: left;
  color: white;
  width: 90%;
  margin: 5px 5px;
  border-radius: 10px;



}

.fbicon {
  background-image: linear-gradient(135deg, #7d8cfd 0, #486ee5 50%, #0052cd 100%);
}

.yticon {
  background-image: radial-gradient(circle at 100% 0%, #ffa40a 0, #ff9423 10%, #ff8231 20%, #ff6f3b 30%, #ff5b42 40%, #f94646 50%, #e53248 60%, #d11e4b 70%, #c0074d 80%, #b00050 90%, #a20053 100%);
}

.tgicon {
  background-image: radial-gradient(circle at 87.5% 12.5%, #9ca8ff 0, #486ee5 50%, #003787 100%);
}

.instaicon {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);

}


.twicon{
  background: linear-gradient(45deg, #1DA1F2, #0d90e0)
} 